<!--/*
 * File: about_me.ejs
 * Author: Ling Lin 
 * StudentID: 301292283
 * Date: May 30, 2023 
 * Version:  1.0.0
 */-->

<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

    <main class="ontainer">
        <div class="jumbotron">
        <div class="p-5 mb-6 bg-light rounded-5 text-center">
        
            <h1>Introduction about Ling Lin</h1>
                <div class="card-text bg-light">
                  <div class="content-container">
                    <img src="../img/profile1.JPG" class="img-fluid" alt="..." style="width: 20%; height: 20%;">
                    
                    <p>
                      • Current student of a Software Engineering Technician – Post-secondary program<br>
                      • Strong communication and teamwork with 10 years of sales experience in IT field<br>
                      • Strong analytical skills, adaptability, user-oriented and international perspective<br>
                      • Bilingual in English and Mandarin, both written and oral<br>
                      • Knowledge in Agile Methodologies, Software Development Life Cycle, Systems Integration, IT Project Management.
                    </p>
                  </div>
                </div>
                  
                <h3>
                    <a href="/Resume/Resume.pdf">
                        Click here to browse Resume in detail.
                      </a>
                </h3>
        
            </div>
        </main>

      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>





   