<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

    <!--<img src="img/logo.png" alt="logo">-->

<main class="ontainer">
<div class="jumbotron">

    <h1>Welcome to Ling Lin personal Porfolio!</h1>
    <p>Our goal is to empower businesses to thrive in the digital age, providing them with the tools and expertise to navigate the ever-changing landscape of technology.</p>
    <p class="card-text bg-light" style="transform: rotate(0);"></p>
        Please click here if want to know more <a href="/about" class="text-warning ">About</a></p>
    </div>
</main>


      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>



   