<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

    <!--<img src="img/logo.png" alt="logo">-->

<main class="ontainer">
<div class="jumbotron">
    <div class="text-center">
    <h1>My Projects</h1>
    </div>

    <div class="p-5 mb-6 bg-light rounded-5 text-center">
        <div class="row">
            <div class="col-md-15">
                <div class="card mdb-color lighten-2 text-center z-depth-2 custom-card">
                     
                    <div class="card-body">
                        <h5 class="card-title"></a>Projet1 | Database | Database for Global Computer Company Project</h5>
                        <img src="../img/database.webp" class="img-fluid" alt="previred" style="width: 30%; height: auto;">
                        <br />                     
                        <p class="card-text bg-light">
                            • Led a team of two in designing and implementing the database for e-commerce business app.<br>
                            • Gathered data requirements and understood system operations through interviews and surveys.<br>
                            • Created entity relationship diagrams (ERDs) to model the relationships between entities.<br>
                            • Designed and implemented efficient e-commerce database on Oracle, ensuring data integrity.<br>
                            • Tools/Technologies: ERD, Oracle</p>
                    </div>
                </div>
            </div>
        </div>
            <!---->
            <div class="col-md-15">
                <div class="card mdb-color lighten-2 text-center z-depth-2">
                    <div class="card-body">
                        <h5 class="card-title">Projet2 | Student App | Software Requirements Specification (SRS)</h5>
                        <img src="../img/software.png" class="img-fluid" alt="previred" style="width: 30%; height: auto;">                 
                        <br />                   
                            <p class="card-text bg-light">
                                • Contributed to school app development project.<br>
                                • Created module for students to record and track subject-related tasks.<br>
                                • Implemented calendar feature with assignment, exam reminders for efficient task management.<br>
                                • Led collaborative team efforts, applying Agile methodologies for effective project management.<br>
                                • Diagrams: UML Diagram, CRC index cards, ER Diagram</p>
                    </div>
                </div>
            </div>
            <!---->
            <div class="col-md-15">
                <div class="card mdb-color lighten-2 text-center z-depth-2">
                    <div class="card-body">
                        <h5 class="card-title">Projet3 | Web Design | Word Guessing Game</h5>
                        <img src="../img/wordGuessingGame.png" class="img-fluid" alt="previred" style="width: 30%; height: auto;">                 
                        <br />                   
                            <p class="card-text bg-light">
                                • Adopt HTML/CSS/JavaScript to code a Word Guessing Game.<br>
                                • When entering a letter, make sure it stays for 300ms before it calls the eventListener.<br>
                                • When a word is fully guessed, the msgBox will display ‘You guessed the word <WORD> correctly!”<br>
                                • The inputBox will get disabled when the word is guessed correctly.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>

<!--/*
Database picture link:https://towardsdatascience.com/top-10-databases-to-use-in-2021-d7e6a85402ba 
Software picture link:https://www.orah.com/blog/new-mobile-app-for-students 
Word guessing game link:https://www.teachwithict.com/guess.html
Code reference link: https://github.com/bastyle/comp229-web-app-dev-express-portfolio-site
 */-->



   