
<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

    <!--<img src="img/logo.png" alt="logo">-->

    <main class="container">
        <div class="jumbotron">
          <div class="text-center">
            <h1>Services</h1>
          </div>
      
          <div class="row justify-content-center">
            <div class="col-md-6">
              <div class="card mdb-color lighten-2 text-center z-depth-2">
                <div class="card-body">
                  <h5 class="card-title custom-h5">General programming</h5>
                  <br>
                  <img src="../img/programming.png" class="img-fluid" alt="previred" style="width: 30%; height: auto;">
                  <br><br>
                  <p class="white-text mb-0 text-sm-start">
                    <p class="card-text bg-light">
                      • Problem-solving: We solve programming challenges, fixing errors and developing new features.<br>
                      • Custom Development: We create custom software solutions tailored to clients' needs and specifications.<br>
                      • Code Review and Optimization: We optimize code for better performance and readability.<br>
                      • Technical Consulting: We provide expert advice on technology choices and development processes.<br>
                      • Training and Knowledge Sharing: We offer programming training and share our expertise.<br>
                      • Troubleshooting and Support: We troubleshoot and provide technical support for programming issues.
                    </p>
                  </p>
                </div>
              </div>
            </div>
      
            <div class="col-md-6">
              <div class="card mdb-color lighten-2 text-center z-depth-2">
                <div class="card-body">
                  <h5 class="card-title custom-h5">Web development</h5>
                  <img src="../img/web.avif" class="img-fluid" alt="previred" style="width: 30%; height: auto;">
                  <p class="card-text bg-light">
                    • Professional Website Design: We create attractive and functional websites that reflect your brand and cater to your target audience.<br>
                    • User-Friendly Interface: We develop intuitive and easy-to-navigate web pages, ensuring a seamless browsing experience for your visitors.<br>
                    • Powerful Backend Development: We build robust server-side components using industry-standard technologies, enabling efficient data management and secure transactions.<br>
                    • Online Store Creation: We design and develop e-commerce websites with integrated shopping carts, payment gateways, and inventory management, facilitating smooth online transactions.<br>
                    • Mobile-Friendly Optimization: We ensure your website looks great and functions well on various devices, including smartphones and tablets.<br>
                    • Reliable Support and Maintenance: We offer ongoing website maintenance and technical support to keep your website up-to-date, secure, and running smoothly.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      

      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>


/*
picture1 link: https://www.classcentral.com/report/best-programming-courses/
picture2 link: https://www.freepik.com/free-photo/programming-background-collage_34089179.htm

*/
   